<template lang="html">
  <header>SML</header>
</template>

<script>
export default {


}
</script>

<style lang="css">
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 8.2em;
    color: rgb(255, 255, 255);
    background: linear-gradient(to left, #43C6AC , #191654);
  }
</style>
