<template lang="html">
  <section>
    <HeaderLib />
    <div>
      <SearchBlock/>
      <BookContainer  :books="allBooks"/>
    </div>
  </section>
</template>

<script>
   import HeaderLib from './header/HeaderLib.vue';
   import SearchBlock from './search/SearchBlock.vue';
   import BookContainer from './book/BookContainer.vue';
   import { mapState } from 'vuex';

   export default {
     computed: Object.assign(
       mapState([
         'allBooks'
       ]),
       {
         hasAllBooks() {
           return this.allBooks.length;
         }
       }
     ),
     created() {
       this.$store.dispatch('getAllBooks');
     },
     components: {
       HeaderLib,
       SearchBlock,
       BookContainer
     }
   }

</script>

<style lang="css">
    /*section {
        width: 1140px;
        margin: auto;
    }*/

</style>
