<template lang="html">
    <div class="search-block">
        <div class="logo">
            <span>Library</span>
            <span>Browse Learning Flows</span>
        </div>
        <div class="search-container">
            <img src="./search.svg"/>
            <input type="text" placeholder="Search flow..." autofocus @input="this.searchBook"/>
        </div>
    </div>
</template>

<script>
export default {
  methods: {
    searchBook(event) {
      this.$store.commit({type: 'setSearchText', text: event.target.value});
      this.$store.dispatch('searchBook');
    }
  }
}
</script>

<style lang="css">
    .search-block {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 5em auto;
    }

    .search-block {
      font-family: OpenSans-Light, sans-serif;
    }

    .search-block .logo span:first-of-type {
        color: rgb(93, 93, 93);
        font-size: 4em;
    }

    .search-block .logo span:last-of-type {
      font-size: 2em;
      padding-left: 15px;
      color: rgba(0, 0, 0, .5);
    }

    .search-container {
      position: relative;
    }

    .search-container img {
      width: 16px;
      position: absolute;
      top: 7px;
      left: 8px;
    }

    .search-block input {
      outline: none;
      border: 1px solid rgb(210, 210, 210);
      padding: 6px 10px 6px 30px;
      width: 230px;
      color: rgb(60, 60, 60);
      font-size: 1.2em;
      font-family: OpenSans-Regular, sans-serif;
    }
</style>
