<template lang="html">
  <section class="login-container">
    <div class="login">
      <div class="logo">
        <div class="first-area">
          <div class="second-area">
            <img src="./book.svg"/>
          </div>
        </div>
        <h2>ITLibrary</h2>
      </div>
      <div class="input-container log-in">
        <img src="./user.svg"/>
        <div></div>
        <input placeholder="username" autofocus @focus="clearField($event)" v-model="username" />
      </div>
      <div class="input-container password">
        <img src="./lock.svg"/>
        <div></div>
        <input placeholder="password" type="password" @focus="clearField($event)" v-model="password" />
      </div>
      <div class="button" @click="makeLogin">Log In</div>
    </div>
  </section>
</template>

<script>
  import axios from 'axios';
  import config from '../../config.js';

  export default {
    data() {
      return {
        username: '',
        password: '',
      }
    },
    methods: {
      makeLogin() {
        const loginEl = this.$el.querySelector('.log-in');
        const passwordEl = this.$el.querySelector('.password');
        const sendObj = {
          username: this.username,
          password: this.password
        };

        if (!this.username) {
          loginEl.classList.add('required');
          return;
        }

        if (!this.password) {
          passwordEl.classList.add('required');
          return;
        }

        axios.post(`http://${config.devAddress}/api/user`, sendObj)
          .then(() => axios.post(`http://${config.devAddress}/auth/login`, sendObj))
          .then(({data}) => {
            const loginContainer = this.$el;

            localStorage.setItem('accessToken', data.accessToken);

            loginContainer.querySelector('.login').classList.add('fade');

            setTimeout(() => {
              loginContainer.classList.add('roll-up');
              setTimeout(() => {
                loginContainer.classList.add('fade');
                setTimeout(() => {
                  this.$store.commit('setShowMainApp');
                  this.$store.commit('setShowLogin');
                }, 500);
              }, 1600);
            }, 700);
          })
          .catch(err => {throw err});
      },

      clearField(event) {
        const currentEl = event.target;
        const classList = currentEl.parentNode.classList;

        classList.contains('required') && classList.remove('required');
      }
    },
    components:{

    }
  }
</script>

<style lang="css">
  .login-container {
    display: flex;
    height: 100%;
    transition: height 1.5s, opacity .5s;
    will-change: height, opacity;
    background: /*linear-gradient(to right, rgba(62, 190, 196, 1) 0%, rgba(67, 211, 178, 1) 100%);*/ linear-gradient(to left, #43C6AC , #191654);
  }

  .login-container.roll-up {
    height: 50px;
  }

  .login-container .login {
    display: flex;
    flex-direction: column;
    margin: auto;
    transition: opacity .75s;
    will-change: opacity;
  }

  .login-container.fade,
  .login-container .login.fade {
    opacity: 0;
  }

  .login-container .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  .login-container .logo .first-area {
    width: 110px;
    height: 110px;
    transform: rotate(45deg);
    display: flex;
    background: rgb(255, 255, 255);
    margin-bottom: 35px;
  }

  .login-container .logo .second-area {
    width: 95px;
    height: 95px;
    margin: auto;
    display: flex;
    border: 1px solid rgb(60, 60, 60);
  }

  .login-container .logo img {
    width: 65px;
    margin: auto;
    transform: rotate(-45deg);
   }

  .login-container .login h2 {
    font-family: OpenSans-Bold;
    font-size: 3em;
    color: rgb(255, 255, 255);
    letter-spacing: .15em;
  }

  .login-container .input-container {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid transparent;
  }

  .login-container .input-container img {
    width: 20px;
    position: absolute;
    top: 7px;
    left: 7px;
  }

  .login-container .login .input-container div {
    width: 1px;
    height: 20px;
    position: absolute;
    background: rgb(255, 255, 255);
    left: 35px;
    top: 7px;
  }

  .login-container .login .input-container input {
    font-family: OpenSans-Regular;
    padding: 10px 10px 10px 45px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, .15);
    font-size: 1.2em;
    width: 220px;
    color: rgb(220 , 220, 220);
  }

  .login-container .login .input-container.required {
    border: 1px solid rgb(255, 62, 62);
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  }

  .login-container .login .input-container.required input {
    color: rgb(255, 62, 62);
  }

  .login-container .login .input-container input::-webkit-input-placeholder {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 1em;
  }

  .login-container .login .button {
    font-family: OpenSans-Bold;
    text-align: center;
    width: 220px;
    margin: 20px auto;
    font-size: 1.5em;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(60, 60, 60);
    text-transform: uppercase;
    font-weight: bold;
  }

  @keyframes shake {
    10%, 90% {
      transform: translateX(-1px);
    }

    20%, 80% {
      transform: translateX(2px);
    }

    30%, 50%, 70% {
      transform: translateX(-4px);
    }

    40%, 60% {
      transform: translateX(4px);
    }
}
</style>
