<template>
  <div id="app">
    <MainApp v-if='showMainApp'/>
    <!--<Login v-if='showLogin'/>-->
  </div>
</template>

<script>
import axios from 'axios';
import config from './config.js';
import { mapState } from 'vuex';

import MainApp from './components/MainApp.vue';
import Login from './components/login/Login.vue';

export default {
  name: 'app',
  data () {
    return {}
  },
  computed:
    mapState([
      'showMainApp',
      'showLogin'
    ]),
  /*created() {
    const accessToken = localStorage.getItem('accessToken');

    if (accessToken) {
      axios.get(`http://${config.devAddress}/auth/me`, { headers: {'Authorization': `Bearer ${accessToken}`} })
        .then(data => {
          if (data.status === 200) this.$store.commit('setShowMainApp');
        })
        .catch(err => {
          this.$store.commit('setShowLogin');
          throw err;
        });
    } else this.$store.commit('setShowLogin');
  }*/

  components: {
    MainApp/*,
    Login*/
  }
}
</script>

<style lang="css">
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    overflow-x: hidden;
    font-size: 62.5%;
  }

  html, body, #app {
    height: 100%;
  }

  @font-face {
    font-family: Pacifico-Regular;
    src: local('☺'), url('./fonts/Pacifico-Regular.ttf');
    font-style: normal;
  }

  @font-face {
    font-family: OpenSans-Bold;
    src: local('☺'), url('./fonts/OpenSans-Bold.ttf');
    font-style: normal;
    font-weight: bold;
  }

  @font-face {
    font-family: OpenSans-Italic;
    src: local('☺'), url('./fonts/OpenSans-Italic.ttf');
    font-style: normal;
  }

  @font-face {
    font-family: OpenSans-Light;
    src: local('☺'), url('./fonts/OpenSans-Light.ttf');
    font-style: normal;
  }

  @font-face {
    font-family: OpenSans-Regular;
    src: local('☺'), url('./fonts/OpenSans-Regular.ttf');
    font-style: normal;
  }

  @font-face {
    font-family: OpenSans-Semibold;
    src: local('☺'), url('./fonts/OpenSans-Semibold.ttf');
    font-style: normal;
  }

  @font-face {
    font-family: OpenSans-SemiboldItalic;
    src: local('☺'), url('./fonts/OpenSans-SemiboldItalic.ttf');
    font-style: normal;
  }
</style>
