<template lang="html">
    <li class="book">
      <div class="cover" @click="openBook" :style="{backgroundImage: getCoverPath}"></div>
      <div class="description" :title="getBookFullName">
        <div class="title">{{this.book.title}}</div>
        <div class="author">{{this.book.author}}</div>
      </div>
    </li>
</template>

<script>
import axios from 'axios';
import config from '../../config.js';

    export default{
        data(){
            return{

            }
        },
        methods: {
          openBook() {
            open(`http://${config.devAddress}/${this.book.bookPath}`);
          }
        },
        computed: {
          getCoverPath() {
            return `url('http://${config.devAddress}/${this.book.coverPath}')`;
          },
          getBookFullName() {
            return this.book.title + ' - ' + this.book.author;
          }
        },
        props: {
            book: {
                type: Object
            }
        },
    }
</script>

<style lang="css">
    li.book {
      float: left;
      margin: 0 92px 50px 0;
    }

    li.book:nth-child(4n) {
      margin-right: 0;
    }

    li.book .cover {
      border-left: 3px solid rgb(130, 130, 130);
      width: 215px;
      height: 280px;
      border-radius: 0 8px 8px 0;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
      background: no-repeat center;
      background-size: cover;
      margin-bottom: 25px;
      cursor: pointer;
    }

    li.book .description {
      padding: 5px 7px;
      background: rgb(241, 241, 232);
      color: rgb(60, 60, 60);
      box-shadow: 0 0 5px rgba(0, 0, 0, .35)
    }

    li.book .description .title,
    li.book .description .author {
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    li.book .description .title {
      font-size: 1.8em;
      font-family: OpenSans-Regular, sans-serif;
    }

    li.book .description .author {
      font-size: 1.4em;
      font-family: OpenSans-Italic, sans-serif;
    }


</style>
