<template lang="html">
    <div class="book-container">
        <nav>
            <ul>
                <li @click="chooseCategory($event)" class="selected" data-category-id="all">all</li>
                <!--<li @click="chooseCategory($event)">popular</li>
                <li @click="chooseCategory($event)">new</li>-->
                <li @click="chooseCategory($event)">programming</li>
                <li @click="chooseCategory($event)">design</li>
                <li @click="chooseCategory($event)">management</li>
            </ul>
        </nav>
        <ul class="book-list">
            <Book class="book-item" v-for="book in books" :book="book" />
        </ul>
        <div @click="addBooks" class="button">More knowledge</div>
    </div>
</template>

<script>
import Book from './Book.vue';

import { mapState } from 'vuex';

    export default {
        props: {
            books: {
                type: Array,
                default: []
            }
        },
        computed() {
          mapState([

          ])
        },
        methods: {
          chooseCategory(event) {
            const currentEl = event.target;
            const attribute = currentEl.getAttribute('data-category-id');

            this.$el.querySelectorAll('li').forEach(el => {
              el.classList.remove('selected');
            });
            currentEl.classList.add('selected');

            attribute && this.$store.dispatch('getBookByCategory', attribute);
          },
          addBooks() {
            this.$store.commit('setCurrentPage');

            this.$store.dispatch('getMoreBooks');
          }
        },
        created() {
          this.$store.dispatch('getCategories')
            .then(data => {
              const len = data.length;

              this.$el.querySelectorAll('nav li').forEach(el => {
                let i = 0;

                while (i < len) {
                  if (el.innerText.toLowerCase() === data[i].name.toLowerCase()) {
                    el.setAttribute('data-category-id', data[i]._id);
                    break;
                  }
                  i++;
                }
              });
            })
            .catch(err => {throw err});
        },
        components: {
            Book
        }
    }
</script>


<style lang="css">

    .book-container {
      width: 1140px;
      margin: 0 auto;
    }

    .book-container nav {
        margin-bottom: 40px;
    }

    .book-container nav ul {
        list-style-type: none;
        font-family: OpenSans-Regular, sans-serif;
        font-size: 1.1em;
        text-transform: uppercase;
        color: rgb(200, 200, 200);
        display: flex;
        border-bottom: 1px solid;
    }

    .book-container nav ul li {
        padding: 10px 15px;
        cursor: pointer;
        position: relative;
        top: 1px;
    }

    .book-container nav ul li:hover {
      color: rgb(60, 60, 60);
    }

    .book-container nav ul li.selected {
      padding: 9px 14px;
      border: 1px solid rgb(200, 200, 200);
      border-bottom: 1px solid rgb(255, 255, 255);
      color: rgb(60, 60, 60);
    }

    .book-container .book-list {
      list-style-type: none;
      overflow: hidden;
    }

  .book-container .button {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 2em;
    color: rgb(93, 93, 93);
    border: 1px solid rgb(210, 210, 210);
    text-align: center;
    width: 300px;
    margin: 0 auto 40px;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px;
  }

   .book-container .button:hover {
     background: rgb(210, 210, 210);
   }
</style>
